    :host {
        display: inline-block;
        box-sizing: border-box;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        -o-user-select: none;
    }
    
    #container {
        margin: 0;
        @apply(--layout-horizontal);
    }
    
    #video {
        position: relative;
        height: 100%;
        @apply(--layout-flex);
    }
    
    #videoLink {
        position: absolute;
        font-size: 15px;
        color: rgb(200, 200, 200);
        left: 0;
        top: 0;
        right: 0;
        padding: 10px 10px 0 10px;
        line-height: 1.5;
        text-decoration: none;
    }
    
    #videoLink:hover {
        text-decoration: underline;
    }
    
    #placeholder {
        position: absolute;
        cursor: pointer;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background: rgba(0, 0, 0, 1);
        /* Old Browsers */
        
        background: -moz-linear-gradient(top, rgba(0, 0, 0, 1) 0%, rgba(246, 246, 246, 0.47) 53%, rgba(255, 255, 255, 0) 100%);
        /* FF3.6+ */
        
        background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0, 0, 0, 1)), color-stop(53%, rgba(246, 246, 246, 0.47)), color-stop(100%, rgba(255, 255, 255, 0)));
        /* Chrome, Safari4+ */
        
        background: -webkit-linear-gradient(top, rgba(0, 0, 0, 1) 0%, rgba(246, 246, 246, 0.47) 53%, rgba(255, 255, 255, 0) 100%);
        /* Chrome10+,Safari5.1+ */
        
        background: -o-linear-gradient(top, rgba(0, 0, 0, 1) 0%, rgba(246, 246, 246, 0.47) 53%, rgba(255, 255, 255, 0) 100%);
        /* Opera 11.10+ */
        
        background: -ms-linear-gradient(top, rgba(0, 0, 0, 1) 0%, rgba(246, 246, 246, 0.47) 53%, rgba(255, 255, 255, 0) 100%);
        /* IE 10+ */
        
        background: linear-gradient(to bottom, rgba(0, 0, 0, 1) 0%, rgba(246, 246, 246, 0.47) 53%, rgba(255, 255, 255, 0) 100%);
        /* W3C */
        
        filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#ffffff', GradientType=0);
        /* IE6-9 */
    }
    
    #playIcon {
        position: absolute;
        color: rgba(255, 255, 255, 1);
        width: 6em;
        height: 6em;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
    
    #list {
        width: 250px;
    }
    
    #listPanel {
        background: rgba(50, 50, 50, 1);
        color: rgb(200, 200, 200);
    }
    
    #listToolbar {
        --paper-toolbar-background: none;
        --paper-toolbar-color: rgb(200, 200, 200);
        height: 30px;
    }
    
    #listToolbar::content .toolbar-tools {
        height: 30px;
    }
    
    #listLength::before {
        content: '/';
        padding: 0 4px;
    }
    
    .chip {
        position: relative;
        padding: 0 5px 0 5px;
        cursor: pointer;
        height: 60px;
        overflow: hidden;
        margin-right: -12px !important;
    }
    
    .chip + .chip {
        margin-top: 3px;
    }
    
    .chip.selected {
        color: white;
        background: rgba(255, 255, 255, 0.1);
        border: 3px solid gray;
        border-width: 0 0 0 5px;
        padding-left: 0;
        transition: background 0.4s linear;
    }
    
    .chip:hover {
        background: rgba(0, 0, 0, 0.1);
    }
    
    .chip.selected:hover {
        background: rgba(255, 255, 255, 0.1);
        ;
    }
    
    .chip-title {
        box-sizing: border-box;
        font-size: 12px;
        line-height: 18px;
        margin: 0 !important;
        padding: 4px 5px;
        max-height: 60px;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    
    .chip-image {
        width: 80px;
        height: 60px;
    }
